<%- include('../../partials/header.ejs')%> 
<%- include('../../partials/navbar.ejs')%>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Slug</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th scope="row"><%= category.id %></th>
                    <th scope="row"><%= category.title %></th>
                    <th scope="row"><%= category.slug %></th>
                    <th scope="row">
                        <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                        <form method="post" action="/categories/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" name="id" value="<%= category.id%>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
            <% })%>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs')%>
<script>
    function confirmDelete(e, form){
        e.preventDefault(); // impede que o formulario seja submetido
        let decision = confirm("Deseja deletar?");
        if(decision){
            form.submit();
        }
    }
</script>